

.navbar {
    background-color: #000000;
    position: fixed;
    left: 0;

}



#footer{
    position: fixed;
    pad ding-top: 10px;
    bottom: 0;
    left: 0;
    color: whitesmoke;
    background-color: #35682d ;
    text-align: center;
    border: 2px ;

}

    
.nav-link{
    color: white;

}



